
.vs/ProofOfCredit/DesignTimeBuild/.dtbcache.v2
.vs/ProofOfCredit/v16/.suo
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/ProofOfCredit.assets.cache
obj/Debug/net5.0/ProofOfCredit.csproj.AssemblyReference.cache
obj/Debug/net5.0/ProofOfCredit.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/ProofOfCredit.csproj.nuget.dgspec.json
obj/ProofOfCredit.csproj.nuget.g.props
*.dll
*.pdb
